.Home {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
  /* padding: 1rem; */
  background: linear-gradient(to bottom, #d1d4de, #bdc1ce);
}
.Home_nav {
  padding: 10px;
  width: 20%;
  /* width: inherit; */
  position: fixed;
  /* height: inherit; */
  grid-column: 1/2;
  height: fit-content;
}
.Home_body {
  /* background-color: white; */
  /* height: 100%; */
  margin: 10px 20px 50px 0;
  grid-column: 2/3;
}
@media screen and (max-width:700px){
  .Home{
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 100px;
    position: relative;
    place-items: center;
    gap: unset;
    /* padding: 10px; */
  }
  .Home_nav{
    grid-column: unset;
    height: 100px;
    grid-row: 2/3;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    padding: 0;
  }
  .Home_body{
    grid-column: unset;
    grid-row: 1/2;
    /* margin: 10px; */
    margin: unset;
  }
}