.Home{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    gap: 5px;
    /* padding: 1rem; */
    background: linear-gradient(to bottom, #d1d4de,#bdc1ce);
}
.Home_nav{
    padding: 10px;
}
.Home_body{
    /* background-color: white; */
    height: 96vh;
    margin: 10px 20px 50px 0;
}