
.authuser_auth{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 1.5rem;
}
.error{
    font-size: 10px;
    color: red;
}
.alert_modal{
    font-size: 10px;
    color: red;
} 
.input_box{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    margin: 10px 2px 10px 2px;
}
.input_box img{
    cursor: pointer;
    width: 20px;
}

.authuser_auth form{
    width: 100%;
    box-shadow: 1px 1px 5px black;
    max-width: 28rem;
   box-shadow:  -5px 2px 20px gainsboro;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(178, 178, 178);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    padding: 3rem 1rem
}
.authuserLogo{

    width: fit-content;
    border-radius: 5px;
    place-self: center;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 3px;
}
.authuserLogo img{
    width: 2rem;
}
.authuser_auth form input{
    width: 100%;
    border: 0;
    outline: none;
    padding: 0.5rem;
    
}
.email_input{
    border: 1px solid black;
}
.authuser_auth form button{
    background:var(--btn-gradient) ;
    font-size: 15px;
    color: #fff;
    border: 0;
    border-radius: 12px;
    outline: none;
    padding: 0.7rem;
    margin: 12px 10px;
    cursor: pointer;

}
.auth_create-acct{
    color: rgb(49, 49, 224);
    text-align:  center;
}
.auth_apps{
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.auth_apps_google ,.auth_apps_apple{
    display: flex; 
    gap: 7px;
    background-color: #fff;
    padding: 10px 12px;
    font-size: 15px;
    border: 1px solid rgb(178, 178, 178);
   align-items: center;
   cursor: pointer;
}
.auth_apps_google img,.auth_apps_apple img{
 width: 1.5rem;
}

/* HTML: <div class="loader"></div> */
.button-login{
    text-align: -webkit-center;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}