.invoice_list {
  width: 100%;
  height: 110vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
  gap: 0.5rem;
}
.nodata{
  width: 100%;
  place-self: center;
}
.invoice_list-amount-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fff;
  border-radius: 10px;
}
.invoice_list-amount-2 {
  position: relative;
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 10px;
  background-color: #fff;
  /* display: grid; */
  /* justify-content: center */
}

.invoice_list-dashboard {
  background-color: white;
  grid-column: 1/3;
  grid-row: 2/3;
  border-radius: 10px;
  overflow-y: scroll;
  text-align: left;
}
/* customisation for scroll bar */

.invoice_list-dashboard {
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
.invoice_list-dashboard::-webkit-scrollbar {
  width: 0.2rem;
}
.invoice_list-dashboard::-webkit-scrollbar-track {
  background: transparent;
}
.invoice_list-dashboard::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 5rem;
}
.payTag {
  display: flex;
  gap: 20px;
  /* padding: 2px 0 0 10px; */
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 13.5px;
  z-index: 100;
}
.green,
.red {
  width: 20px;
  height: 10px;
  background-color: #23ac76;
  display: inline-block;
  margin-left: 10px;
}
.red {
  background-color: #de535e;
}

.invoice_list-dashboard table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

.left-aligned-table th,
.left-aligned-table td {
  font-size: 13px;
  font-family: var(--font-poopins);
  letter-spacing: -0.04em;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
@media screen and (max-width: 700px) {
  .invoice_list {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 1fr;
    gap: 1rem;
    padding: 10px;

  }
  .invoice_list-amount-1 {
    grid-column: unset;
    grid-row: 1/2;
    display: grid;
    /* height: 38vh  */
place-items: center
;
  }
  .app{
    /* margin-right: 10px */
    /* padding-right: 10px; */
  }
  .invoice_list-amount-2 {
    grid-row: 2/3;
    grid-column: unset;
  }

  .invoice_list-dashboard {
    grid-column: unset;
    grid-row: 3/4;
    height: 50vh;
  }
}
