  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
--font-poopins: 'Poppins', sans-serif;
--bg-purple: blue;
--btn-gradient:linear-gradient(to left,rgb(22, 76, 212), blue,rgb(58, 67, 247));
--font-single:'Single Day', cursive;
--fade:2px solid #f1f1f1db;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a{
  color: var(--bg-purple);
}